body {
  background-color: #3d5eb0;
}

.App {
  text-align: center;
}

.input-group {
  width: 60%;
}

.card {
  width: 60%;
}

.card-title {
  position: absolute;
  padding: 20px;
}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 290px;
  font-size: 40px;
}

.card-desc {
  position: absolute;
  padding-left: 20px;
  margin-top: 340px;
}

/* MEDIA QUERIES */

/* For mobile phones-portrait: */
@media only screen and (max-width: 319px) {
  .container {
    width: 100%;
  }

  .input-group {
    width: 95%;
  }

  .card {
    width: 95%;
  }

  .card-text {
    font-size: 17px;
  }

  .card-forecast {
    font-size: 12px;
  }

}

/* For mobile phones-landscape: */
@media only screen and (min-width:320px) and (max-width:479px) {
  .container {
    width: 100%;
  }

  .input-group {
    width: 95%;
  }

  .card {
    width: 95%;
  }

  .forecast-date {
    font-size: 20px;
  }
}

/* For tablet-portrait: f.example: surface duo*/
@media only screen and (min-width:480px) and (max-width:767px) {
  .container {
    width: 100%;
  }

  .input-group {
    width: 95%;
  }

  .card {
    width: 95%;
  }
}

/* For tablet-landscape: */
@media only screen and (min-width:768px) and (max-width:1023px) {
  .container {
    width: 100%;
  }

  .input-group {
    width: 95%;
  }

  .card {
    width: 95%;
  }
}

/* For laptops: */
@media only screen and (min-width:1024px) and (max-width:1119px) {
  .container {
    width: 100%;
  }

  .input-group {
    width: 95%;
  }

  .card {
    width: 95%;
  }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }

  .input-group {
    width: 95%;
  }

  .card {
    width: 95%;
  }
}